extends layout

block content
  h1= title
  p #{profile.screen_name}

  
    

  form(action='/status', method='post')
    input(name='status')
    button Post Status

    

  each article, i in articleList
    p #{i}
    button(class='article', value = i) Article
    div(id = i)
      h3 #{article.title}
      | !{article.summary}
      br
      br
      a.twitter-timeline(href='https://twitter.com/search?q=%23techmeme', data-widget-id='316635103180759042') Tweets
    button(class = 'hide', value = i ) Hide
    br

//  button(id='article') Article
  div(id='articletext')
   a.twitter-timeline(href='https://twitter.com/search?q=%23techmeme', data-widget-id='316635103180759042') Tweets about "#techmeme"    
   p Surprise :) 
   each article, i in articleList
      h3 #{article.title}
      | !{article.summary}
      br
      br
   button(id='hide') Hide